$font-family: "Roboto";
$second-family: "TTFirsNeue";
$third-family: "Muller", sans-serif;

html {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

body {
  font-family: "Roboto";
}

.flex {
  display: flex;
}

.reset {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 30px;
}

.overflow {
  overflow-y: hidden;
}
