@media (max-width: 1360px) {
  .header__menu-img {
    margin-right: 82px;
  }

  .header__menu-item:not(:last-child) {
    margin-right: 33px;
  }

  .contact__block-left {
    max-width: 63%;
  }

  .contact__block-right {
    max-width: 33%;
  }

  .contact__info {
    padding: 25px 10px 21px 30px;
    width: 100%;
    top: 65%;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .works__article {
    padding: 60% 30px 30px 30px;
  }

  .projects__text {
    margin-bottom: auto;
  }

  .about__form {
    flex-direction: column;
  }

  .about__label {
    margin-bottom: 22px;
  }

  .about__btn {
    width: max-content;
  }
}

@media (max-width: 1024px) {
  .header__menu-img {
    width: 168px;
    margin-right: 76px;
  }

  .header__menu-item:not(:last-child) {
    margin-right: 21px;
  }

  .header {
    padding-bottom: 34px;
  }

  .works__article {
    background-image: url(../img/works1024.webp);
    padding: 91.2% 12px 31px 30px;
  }

  .works__article-text {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 9px;
  }

  .works__article-title {
    font-weight: 700;
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 22px;
  }

  .works__prev-title {
    margin-bottom: 25px;
  }

  .about {
    padding: 32px 0 82px;
  }

  .about__right {
    background-image: url(../img/about1024.webp);
    padding-top: 356px;
  }

  .about__form {
    flex-direction: column;
  }

  .about__label {
    margin-bottom: 22px;
  }

  .about__input {
    max-width: 342px;
  }

  .about__btn {
    width: max-content;
  }

  .projects__text {
    -webkit-line-clamp: 3;
    margin-bottom: 17px;
  }

  .projects__item {
    &-1 {
      grid-area: id-1;
      a {
        -webkit-line-clamp: 2;
      }
    }

    &-2 {
      grid-area: id-2;
      a {
        -webkit-line-clamp: 2;
      }
    }

    &-3 {
      grid-area: id-3;
      a {
        -webkit-line-clamp: 2;
      }
    }

    &-4 {
      grid-area: id-4;
    }

    &-5 {
      grid-area: id-5;
    }

    &-6 {
      grid-area: id-6;
    }

    &-7 {
      grid-area: id-7;
    }

    &-1,
    &-2 {
      grid-column: span 2;
    }

    &-3 {
      grid-column: span 4;
    }

    &-4 {
      background-image: url(../img/progect4-1024.webp);
    }

    &-5 {
      background-image: url(../img/progect5-1024.webp);
    }
  }

  .projects__list {
    gap: 24px 30px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "id-1 id-1 id-2 id-2 id-3 id-3 id-3 id-3"
      "id-4 id-4 id-4 id-4 id-4 id-6 id-6 id-6"
      "id-7 id-7 id-7 id-5 id-5 id-5 id-5 id-5";
  }

  .projects__item-4,
  .projects__item-5 {
    padding: 31px 30px 30px;
  }

  .contact__block-left {
    max-width: 61.3%;
  }

  .contact__block-right {
    margin-top: -8px;
    max-width: 35.6%;
  }

  .contact__info {
    padding: 26px 260px 21px 31px;
    top: 65.6%;
  }

  .contact__content-text {
    position: relative;
  }

  .contact__content-link {
    position: absolute;
    bottom: 0px;
    right: -14px;
  }

  .contact {
    padding-bottom: 67px;
  }

  .footer {
    padding: 25px 0;
  }

  .footer__img {
    max-width: 166px;
  }

  .footer__container {
    align-items: center;
  }

  .footer__left {
    margin-right: 14%;
  }
}

@media (max-width: 1020px) {
  .header__menu-container {
    justify-content: space-between;
  }
  .header__menu-nav {
    display: none;
  }

  .header__submenu {
    display: block;
  }

  .header__menu-input {
    right: 65px;
    max-width: 40%;
  }

  .works__article {
    padding: 72.2% 12px 31px 30px;
  }

  .works__prev-title {
    font-size: 22px;
    line-height: 23px;
  }

  .contact__info {
    padding: 26px 10px 21px 31px;
  }

  .contact__content-link {
    position: initial;
  }

  .contact__content-title {
    font-size: 24px;
    line-height: 22px;
  }

  .contact__block {
    flex-direction: column;
  }

  .contact__block-left {
    max-width: 100%;
    margin-bottom: 24px;
  }

  .contact__block-right {
    max-width: 466px;
    margin-top: 0;
  }

  .footer__blockquote {
    display: none;
  }

  .footer__container {
    justify-content: space-between;
  }

  .footer__left {
    margin: 0;
  }

  .contact__textarea {
    height: 150px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 27px;
  }

  .header {
    padding-bottom: 36px;
  }

  .header__menu {
    padding: 25px 0 24px;

    &-img {
      margin: 0;
    }
  }

  .header__submenu {
    padding: 12px 0 15px;
  }

  .works__article {
    background-image: url(../img/works1-768.webp);
    padding: 65.5% 12px 31px 27px;

    &-text {
      margin-bottom: 14px;
    }

    &-title {
      font-size: 34px;
      line-height: 31px;
      margin-bottom: 23px;
    }
  }

  .works__prev {
    margin-top: -2px;
  }

  .works__prev-title {
    margin-bottom: 17px;
  }

  .about {
    padding: 32px 0 62px;
  }

  .about__right {
    background-image: url(../img/about768.webp);
    padding-top: 593px;
  }

  .projects__list {
    gap: 25px 30px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 300px 305px 306px 300px;
    grid-template-areas:
      "id-1 id-1 id-2 id-2 id-3 id-3"
      "id-4 id-4 id-4 id-4 id-4 id-4"
      "id-6 id-6 id-6 id-7 id-7 id-7"
      "id-5 id-5 id-5 id-5 id-5 id-5";
  }

  .projects__item-4 {
    background-image: url(../img/progect4-768.webp);
  }

  .projects__item-5 {
    background-image: url(../img/progect5-768.webp);
  }

  .projects__item-1 a {
    -webkit-line-clamp: 3;
  }

  .projects__item-2 a {
    -webkit-line-clamp: 3;
  }

  .projects__item-3 {
    grid-column: span 2;
  }

  .projects__text {
    margin-bottom: auto;
  }
  .projects__calendar {
    padding-top: 10px;
  }

  .projects__item-4,
  .projects__item-5 {
    padding: 20px 30px 30px;
  }

  .projects__content {
    margin-bottom: auto;
  }

  .contact__info {
    padding: 26px 260px 21px 31px;
  }
}

@media (max-width: 700px) {
  .header__submenu-btn {
    display: block;
  }

  .header__submenu-nav {
    transform: translateX(-700px);
    display: block;
    position: fixed;
    background: #000;
    max-width: 700px;
    left: 0;
    top: 70px;
    bottom: 0;
    z-index: 3;
    transition: transform 0.2s linear;
  }

  .header__submenu-list {
    display: block;
    padding: 46px 10px 10px;
  }

  .header__submenu-item {
    margin: 0;
    padding: 10px;
  }

  .works__container {
    grid-template-columns: repeat(1, 1fr);
  }
  .works__article {
    background-size: cover;
  }

  .works__prev-picture {
    img {
      width: 100%;
    }
  }

  .about__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .about__text {
    grid-column: span 2;
  }

  .about__right {
    grid-column: span 2;
    background-size: 100% 68%;
    padding-top: 475px;
    background-image: url(../img/about1024.webp);
  }

  .projects__list {
    gap: 25px 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, auto);
    grid-template-areas:
      "id-1 id-1"
      "id-2 id-2"
      "id-3 id-3"
      "id-4 id-4 "
      "id-6 id-6 "
      "id-7 id-7"
      "id-5 id-5 ";
  }

  .projects__picture {
    img {
      width: 100%;
    }
  }

  .projects__item-4 {
    background-image: url(../img/progect4-mobile.webp);
  }

  .projects__item-5 {
    background-image: url(../img/progect5-mobile.webp);
  }

  .projects__item-4,
  .projects__item-5 {
    padding: 300px 30px 30px;
    background-size: cover;
  }

  .contact__info {
    padding: 50px 40px 20px 20px;
    top: 50%;
  }

  .contact__content-title {
    font-size: 18px;
  }

  .contact__content-text {
    font-size: 14px;
  }

  .footer {
    padding: 25px 0 0;
  }

  .footer__container {
    justify-content: center;
    padding-bottom: 25px;
  }

  .footer__left {
    display: none;
  }

  .footer__mobile {
    display: flex;
    background-color: #4a4a4a;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
  }
}

@media (max-width: 380px) {
  .container {
    max-width: 380px;
    padding: 0 21px;
  }

  .header {
    padding-bottom: 30px;
  }

  .header__menu {
    padding: 19px 0 20px;
  }

  .header__menu-img {
    width: 112px;
  }

  .header__menu-btn {
    width: 20px;
  }

  .header__submenu {
    padding: 14px 0 13px;
  }

  .header__submenu-list {
    padding: 46px 10px 10px 10px;
  }

  .works__article {
    background-image: url(../img/works1-mobile.webp);
    padding: 235px 12px 31px 29px;
  }

  .works__article-span {
    font-size: 12px;
    padding: 4px 7px;
    top: 7px;
    right: 5px;
  }

  .works__article-text {
    font-size: 14px;
    margin-bottom: 9px;
  }

  .works__article-title {
    font-size: 24px;
    line-height: 26px;
    max-width: 169px;
    margin-bottom: 15px;
  }

  .works__article-btn {
    font-size: 14px;
    padding: 11px 23px;
  }

  .works__prev-title {
    font-size: 18px;
    line-height: 19px;
  }

  .works__container {
    gap: 36px;
  }

  .works {
    padding-bottom: 49px;
  }

  .about {
    padding: 34px 0 60px;
  }

  .about__title {
    font-size: 18px;
  }

  .about__grid {
    gap: 21px 30px;
  }

  .about__text {
    font-size: 14px;
    line-height: 25px;
  }

  .about__right {
    background-size: inherit;
    background-image: url(../img/about1-mobile.webp);
    padding-top: 304px;
  }

  .about__strong {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 14px;
  }

  .about__input {
    font-size: 14px;
    padding: 12px 22px;
  }

  .about__label {
    margin-bottom: 20px;
  }

  .about__btn {
    font-size: 14px;
    padding: 12px 22px;
  }

  .projects {
    padding-top: 52px;
    padding-bottom: 36px;
  }

  .projects__title {
    font-size: 18px;
    margin-bottom: 16px;
  }

  .projects__hashtag {
    right: 5px;
    top: 5px;
    padding: 3px 10px;
  }

  .projects__item-4,
  .projects__item-5 {
    padding: 184px 30px 31px;
    background-size: cover;
  }

  .projects__calendar-title {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  .projects__content {
    padding-top: 7px;
    margin-bottom: 15px;
  }

  .projects__calendar-text {
    font-size: 14px;
    line-height: 18px;
  }

  .projects__btn {
    padding: 9px 18px 9px 19px;
    font-size: 14px;
  }

  .footer__mobile {
    padding: 14px 0;
  }

  .contact__title {
    font-size: 18px;
  }

  .contact__block-left {
    height: 463px;
  }

  .footer {
    padding-top: 32px;
  }

  .footer__container {
    padding-bottom: 32px;
  }

  .contact__container-mobile {
    padding: 0;
  }

  .contact__block-right {
    padding: 0 21px;
  }
}
